<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/all.css">
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!--<script src="js/custom.js"></script>-->
</head>
<body class="page">
    <div class="page__wrapper">

        {{#if success_msg}}
            <div class="alert alert-success">{{success_msg}}</div>
        {{/if}}

        {{#if error_msg}}
            <div class="alert alert-danger">{{error_msg}}</div>
        {{/if}}

        {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
        {{/if}}

        <div class="section">
            {{{ body }}}
        </div>
    </div>
    
</body>
</html>






